extends layout

block header_bloc
  style.
    .prefix {
        color: darkgray;
    }
  .row
    form.col.s12.l8.offset-l2(action="/")
      .row
        .input-field.col.s8.m8
          span.prefix @
          input(id="handle", type="text", value=tweeter.handle, placeholder="Try @cnnbrk...")
        .input-field.col.s3.m4.right-align
          button(class="btn blue", type="submit") 
            span.hide-on-small-only fetch
            i.material-icons.hide-on-med-and-up send
            i.material-icons.right.hide-on-small-only send

block tweets_bloc
  if tweets && tweets.length
    style.
      .author {
          margin: 0;
          line-height: 1.2rem;
          font-size: 1rem;
          font-style: italic;
          color: darkgray;
      }
    .row
      ul.collection
        each tweet in tweets
          li.collection-item
            h3.author= '@'+tweet.user.screen_name
            blockquote= tweet.text

