doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', media='screen', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', media='screen', href='/stylesheets/materialize.css')
  body
    .container
      block header_bloc
      block tweets_bloc
      script(src="/javascripts/main.js")
